/*! 夜间主题 */

html.dark {
    background-color: #1e1e2e;
    color: #cdd6f4;
    .post-title {
        color: #e0e0e0;
    }
    .post-item {
      .content{
        .post-title {
          color: #e0e0e0;
        }
        .post-abstract {
          color: #b0b0b0;
        }
      }

      .post-info {
        color: #89b4fa
      }
    }
    .post-detail  {
      .post-title {
        color: #e0e0e0;
      }
      .post-info, .post-info a {
        color: #89b4fa
      }
      .feature-container {
        box-shadow: none;
      }
    }
    .post-content {
        p {
            color: #cdd6f4;
        }
        code:not([class*=language-]) {
            color: #cdd6f4;
            background-color: rgba(110,118,129,0.4);
            border: none;
            border-radius: 6px;
        }
        h1, h2, h3, h4, h5, h6 {
            color: #e0e0e0;
        }
        img {
            box-shadow: none;
        }
        table {
            color: #cdd6f4;
            tr:hover {
                background-color: #313244;
            }
        }
        ul, ol {
            color: #cdd6f4;
        }
        blockquote {
            background: #181825;
        }
    }

    .highlight,pre[class*=language-].line-numbers {
        background-color: #181825;
        .copy-code {
            color: #a1a1a1;
        }
        table tr:hover {
            background-color: #181825;
        }
        code[class*=language-] {
            overflow-x: auto;
            background: #181825;
        }
        .link {
            color: #89b4fa;
        }
    }

    .site-header-container {
        background-color: #1e1e2e;
    }
    .site-header {
        box-shadow: none;
        .site-title {
            color: #cdd6f4;
        }
    }

    .top-box li {
        a {
            color: #cdd6f4;
        }
        a:hover, a.current {
            color: #89b4fa !important;
            background: #313244;
        }
    }

    .next-post {
        .post-title {
            color: #cdd6f4;
        }
        .purple-link {
            background: linear-gradient(180deg, transparent 70%, rgb(101,125,225) 0);
        }
    }

    .pagination-container, .site-footer {
         a {
            color: #cdd6f4;
        }
    }
    .menu-container {
        background-color: #1e1e2e;
        .menu-list {
            a {
                color: #cdd6f4;
            }
        }
    }

    // Gitalk
    .gt-container .gt-comment-body {
        color: #dfdfdf !important;
    }
    .markdown-body blockquote {
        border-left: 0.25em solid #6c7086;
    }
    .gt-container {
        .gt-comment-content:hover {
            box-shadow: none;
        }
        .gt-header-textarea {
            background-color: #313244 !important;
            color: #dfdfdf;
        }
        .gt-header-textarea:hover {
            background-color: #313244;
        }
        .gt-comment-content {
            background-color: #181825;
        }
        .gt-svg svg {
            fill: #89b4fa;
        }
    }

    // 代码块
    .highlight {
        .tag, .name, .attribute {
            color: #cba6f7;
        }
        .deletion {
            color: #f38ba8;
            background: #67060c;
        }
        .addition {
            color: #a6e3a1;
            background-color: #033a16;
        }
    }
    .deletion {
        color: #f38ba8;
        background: #67060c;
    }
    .addition {
        color: #a6e3a1;
        background: #033a16;
    }


    .keyword, .selector-tag, .subst {
        color: #cdd6f4;
    }

  .tags-container .tag {
    color  #89b4fa;
    border-color #89b4fa
  }

  #twikoo .tk-ruser, .tk-footer a, .tk-actions a {
    color: #89b4fa;
  }
}
